<div id="logobanner">
  <div class="page-width">
  <div id="grid">
    <div id="block">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512"><path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
      <span>Free shipping</span> 
    </div>
    <div id="block">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>      
      <span>Cheapest Prices</span> 
    </div>
    <div id="block">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
      <span>5.000+ Satisfied Customers</span> 
    </div>
    <div id="block">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
      <span>24/7 Customer Service</span> 
    </div>
  </div>
        </div>
</div>

   <style>

#logobanner #grid {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

     #logobanner svg {
           width: 25px;
    height: 25px;
     }
     
    #logobanner {
      padding-top: {{ section.settings.padding-top-desktop }}px!important;
      padding-bottom: {{ section.settings.padding-bottom-desktop }}px!important;
      background: {{ section.settings.bg-color }}!important;
    }

     #logobanner #block {
       display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
     }


    @media screen and (max-width: 767px) {
       #logobanner {
      padding-top: {{ section.settings.padding-top-mobile }}px!important;
      padding-bottom: {{ section.settings.padding-bottom-mobile }}px!important;
    }
      #logobanner #block span {
           max-width: 150px;
     }
      
#logobanner #grid {
  display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-row-gap: 35px;
    text-align: center;
}
    }
    </style>

{% schema %}
  {
    "name": "Section 2 Kopstorm",
    "settings": [
                       {
  "type": "range",
  "id": "padding-top-desktop",
  "min": 0,
  "max": 100,
  "step": 5,
  "unit": "px",
  "label": "Spacing top desktop",
  "default": 50
},
            {
  "type": "range",
  "id": "padding-bottom-desktop",
  "min": 0,
  "max": 100,
  "step": 5,
  "unit": "px",
  "label": "Spacing bottom desktop",
  "default": 50
},
            {
  "type": "range",
  "id": "padding-top-mobile",
  "min": 0,
  "max": 100,
  "step": 5,
  "unit": "px",
  "label": "Spacing top mobile",
  "default": 50
},
            {
  "type": "range",
  "id": "padding-bottom-mobile",
  "min": 0,
  "max": 100,
  "step": 5,
  "unit": "px",
  "label": "Spacing bottom mobile",
  "default": 50
},
    {
  "type": "color",
  "id": "bg-color",
  "label": "Background color",
  "default": "#fceadc"
}
    

],
	"presets": [
    {
       "name": "Section 2 Kopstorm",
       "category": "section"
    }
]
  }
{% endschema %}