{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  

  {%- capture sp_content -%} 

  {% if section.settings.override_fonts %}
      {{ section.settings.text_font | font_face }}
      {{ section.settings.headline_font | font_face }}
  {% endif %}

  #sp-{{ section.id }} p,
  #sp-{{ section.id }} li {
      font-size: {{ section.settings.text_size }}px;
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
      font-weight: {{ section.settings.text_font.weight }};
  {% endif %}
      {% if section.settings.text_line_height != 'inherit' %}line-height: {{ section.settings.text_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      color: {{ section.settings.text_color }};
  }

  #sp-{{ section.id }} p a,
  #sp-{{ section.id }} p a:visited
  #sp-{{ section.id }} li a,
  #sp-{{ section.id }} li a:visited {
    color: {{ section.settings.link_color }};
  }

  @media (max-width: 800px) {
      #sp-{{ section.id }} p,
      #sp-{{ section.id }} li {
        font-size: {{ section.settings.mobile_text_size }}px;
      }
  }

  #sp-{{ section.id }} h1,
  #sp-{{ section.id }} h2,
  #sp-{{ section.id }} h3,
  #sp-{{ section.id }} h4,
  #sp-{{ section.id }} h5 {
      font-size: {{ section.settings.headline_size }}px;
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
      font-weight: {{ section.settings.headline_font.weight }};
      {% endif %}
      {% if section.settings.headline_line_height != 'inherit' %}line-height: {{ section.settings.headline_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      color: {{ section.settings.text_color }};
  }

  @media (max-width: 800px) {
      #sp-{{ section.id }} h1,
      #sp-{{ section.id }} h2,
      #sp-{{ section.id }} h3,
      #sp-{{ section.id }} h4,
      #sp-{{ section.id }} h5 {
      font-size: {{ section.settings.mobile_headline_size }}px;
      }
  }

  #sp-{{ section.id }} h2 {
      font-size: {{ section.settings.headline_size | minus:5 }}px;
  }

  #sp-{{ section.id }} h3 {
      font-size: {{ section.settings.headline_size | minus:10 }}px;
  }

  #sp-{{ section.id }} h4 {
      font-size: {{ section.settings.headline_size | minus:15 }}px;
  }

  #sp-{{ section.id }} h5 {
      font-size: {{ section.settings.headline_size | minus:20 }}px;
  }

  @media (max-width: 800px) {
      #sp-{{ section.id }} h2 {
      font-size: {{ section.settings.mobile_headline_size | minus:5 }}px;
      }

      #sp-{{ section.id }} h3 {
      font-size: {{ section.settings.mobile_headline_size | minus:10 }}px;
      }

      #sp-{{ section.id }} h4 {
      font-size: {{ section.settings.mobile_headline_size | minus:15 }}px;
      }

      #sp-{{ section.id }} h5 {
      font-size: {{ section.settings.mobile_headline_size | minus:20 }}px;
      }
  }

  #sp-{{ section.id }} {
      background-image: {{ section.settings.section_background_color }};
      width: 100%;
      box-sizing: border-box;
      padding: {{ section.settings.section_padding_top_bottom }}px {{ section.settings.section_padding_left_right }}px;
      overflow: hidden;
  }

  @media (max-width: 800px) {
      #sp-{{ section.id }} {
        padding: {{ section.settings.mobile_section_padding_top_bottom }}px {{ section.settings.mobile_section_padding_left_right }}px;
      }
  }

  {% if section.settings.show_on_device == 'mobile' %}
    @media (min-width: 801px) {
        #sp-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  {% if section.settings.show_on_device == 'desktop' %}
    @media (max-width: 800px) {
        #sp-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  #sp-{{ section.id }} .sp-container {
      position: relative;
      margin: 0 auto;
      background-image: {{ section.settings.container_background_color }};
      border-radius: {{ section.settings.container_radius }}px;
      {% if section.settings.container_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
      border: {{ section.settings.container_border_size }}px solid {{ section.settings.container_border_color }};
      max-width: {{ section.settings.container_max_width }}px;
      padding: {{ section.settings.container_padding_top_bottom }}px {{ section.settings.container_padding_left_right }}px;
  }

  @media (max-width: 800px) {
      #sp-{{ section.id }} .sp-container {
      padding: {{ section.settings.mobile_container_padding_top_bottom }}px {{ section.settings.mobile_container_padding_left_right }}px;
      }
  }


  /* headline */
  #sp-{{ section.id }} .sp-headline {
    margin: 0;
    padding: 0 0 {{ section.settings.headline_spacing }}px 0;
  }

  #sp-{{ section.id }} .sp-headline * {
    text-align: {{ section.settings.text_alignment }};
  }

  @media only screen and (max-width: 800px) {
    #sp-{{ section.id }} .sp-headline * {
      text-align: {{ section.settings.mobile_text_alignment }};
    }
  }

  /* grid */
  #sp-{{ section.id }}  .sp-container .sp-grid {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: {{ section.settings.gap }}px;
  }

  #sp-{{ section.id }} .sp-col {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: {{ section.settings.media_radius }}px;
    {% if section.settings.media_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
    display: flex;
    justify-content: {{ section.settings.feature_horizontal_alignment }};
    align-items: {{ section.settings.feature_vertical_alignment }};
  }

  @media only screen and (max-width: 800px) {
    #sp-{{ section.id }}  .sp-container .sp-grid {
      gap: {{ section.settings.mobile_gap }}px;
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 801px) {
    #sp-{{ section.id }} .sp-col {
      flex: 1;
      position: relative;
      overflow: hidden;
      transition: .25s all ease;
      height: {{ section.settings.height }}px;
      padding: 0;
    }
  }

  @media only screen and (max-width: 800px) {
    #sp-{{ section.id }} .sp-col {
      position: relative;
      height: {{ section.settings.mobile_height }}px;
      width: 100%;
    }
  }

  @media only screen and (min-width: 801px) {
    #sp-{{ section.id }} .sp-col:hover {
      flex-basis: 25vw;
    }
  }

  #sp-{{ section.id }} .sp-feature-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    {% if section.settings.enable_zoom == true %}
    object-fit: cover;
    {% else %}
    object-fit: none;
    object-position: center;
    {% endif %}
    z-index: 0;
    transition: all .5s;
    border-radius: {{ section.settings.border_radius }}px;
  }

  /* cover */ 
  #sp-{{ section.id }} .sp-feature .sp-feature-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: {{section.settings.cover_background}};
    opacity: {{section.settings.cover_opacity}}%;
    transition: all .5s;
    border-radius: {{ section.settings.border_radius }}px;
    backdrop-filter: blur(25px);
  }

  #sp-{{ section.id }}  .sp-col:hover .sp-feature-cover {
    opacity: {{section.settings.cover_opacity | plus: section.settings.cover_opacity_increase }}%;
  }

  /* content */
  #sp-{{ section.id }} .sp-feature-content {
    position: relative;
    z-index: 2;
    padding: 15px;
    background-size: cover;
    background-position: center;
  }

  @media only screen and (min-width: 801px) {
    #sp-{{ section.id }} .sp-grid:hover .sp-feature-content {
      display: none;
    }
  }

  #sp-{{ section.id }} .sp-grid:hover .sp-col:hover .sp-feature-content {
    display: block;
  }

  #sp-{{ section.id }} .sp-feature h4 {
    margin: 0 0 {{ section.settings.feature_element_spacing}}px 0;
    padding: 0;
    white-space: nowrap;
    {% if section.settings.text_shadow %}text-shadow: 0 2px 4px rgba(0,0,0,0.25);{% endif %}
    color: {{ section.settings.feature_headline_color }};
    text-align: {{ section.settings.feature_text_alignment }};
  }

  #sp-{{ section.id }} a.sp-feature {
    display: block;
  }

  #sp-{{ section.id }} a.sp-feature * {
  }

  #sp-{{ section.id }} .sp-feature p {
    {% if section.settings.text_shadow %}text-shadow: 0 2px 4px rgba(0,0,0,0.25);{% endif %}
    margin: 0;
    padding: 0;
    text-align: left;
    color: {{ section.settings.feature_text_color }};
    text-align: {{ section.settings.feature_text_alignment }};
  }

  #sp-{{ section.id }} .sp-feature .sp-feature-cta {
    display: inline-block;
    padding: {{ section.settings.button_padding_tb }}px {{ section.settings.button_padding_lr }}px;
    background-image: {{section.settings.button_background_color}};
    border-radius: {{ section.settings.button_border_radius }}px;
    color: {{section.settings.button_text_color}};
    font-size: {{ section.settings.text_size }}px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    transition: .25s all;
    white-space: nowrap;
  }
  
  {%- endcapture -%} 

  {%- liquid
    assign chunks = sp_content | strip_newlines | split: ' ' | join: ' ' | split: '*/'
    for chunk in chunks
      assign mini = chunk | split: '/*' | first | strip | replace: ': ', ':' | replace: '; ', ';' | replace: '} ', '}' | replace: '{ ', '{' | replace: ' {', '{' | replace: ';}', '}'
      echo mini
    endfor
  %}
</style>

<div id="sp-{{ section.id }}" class="sp-section" sp-section>

<div class="sp-container" sp-container>

  {% if section.settings.headline != '' or section.settings.text != '' %}
  <div class="sp-headline" sp-column>
    {% if section.settings.headline != '' %}<h2>{{ section.settings.headline }}</h2>{% endif %}
    {% if section.settings.text != '' %}<p>{{ section.settings.text }}</p>{% endif %}
  </div>
  {% endif %}

  <div class="sp-grid">

    {% for block in section.blocks %}
      <div class="sp-col" sp-column>
        <{% if block.settings.link_block %}a href="{{ block.settings.cta_link }}"{% else %}div{% endif %} class="sp-feature">
          {% if block.settings.image %}
          <img class="sp-feature-img" src="{{ block.settings.image | image_url: width: 600 }}"
            loading="lazy"
            srcset="{{ block.settings.image | image_url: width: 600 }} 600w, {{ block.settings.image | image_url: width: 1100 }} 1100w">
          {% endif %}
          {% if block.settings.headline != '' or block.settings.cta != '' %}
          <div class="sp-feature-cover"></div>
          <div class="sp-feature-content">
            {% if block.settings.headline != '' %}<h4>{{ block.settings.headline }}</h4>{% endif %}
            {% if block.settings.cta != '' %}<p>
              <{% if block.settings.link_block == false %}a href="{{ block.settings.cta_link }}"{% else %}span{% endif %} class="sp-feature-cta">{{ block.settings.cta }}</{% if block.settings.link_block == false %}a{% else %}span{% endif %}>
            </p>{% endif %}
          </div>
          {% endif %}
        </{% if block.settings.link_block %}a{% else %}div{% endif %}>
        <!-- /.sp-feature -->
      </div>
      <!-- /.sp-col -->

    {% endfor %}

  </div>
  <!-- /.sp-grid -->
  
</div>
<!-- /.sp-container -->

</div>
<!-- /.sp-section -->

{% schema %}
  {
    "name": "🚀SP - Accordion Feature",
    "settings": [
      
    {
        "type": "header",
        "content": "Font",
        "info": "Set the fonts for your section"
    },
    {
        "type": "checkbox",
        "id": "override_fonts",
        "label": "Override theme fonts",
        "default": false
    },
    {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "sans-serif"
    },
    {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
    },
    {
        "type": "header",
        "content": "Text",
        "info": "Set the text for your section"
    },
    {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
    },
    {
        "type": "range",
        "id": "mobile_text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Mobile Text Size",
        "default": 15
    },
    {
        "type": "select",
        "id": "text_line_height",
        "label": "Text Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit"
    },
    {
        "type": "range",
        "id": "headline_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Headline Size",
        "default": 40
    },
    {
        "type": "range",
        "id": "mobile_headline_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Mobile Headline Size",
        "default": 40
    },
    {
        "type": "select",
        "id": "headline_line_height",
        "label": "Headline Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit"
    },
    {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color"
    },
    {
        "type": "color",
        "id": "link_color",
        "default": "#005bd3",
        "label": "Link Color"
    },
    {
        "type": "header",
        "content": "Section Design",
        "info": "Set the design for the section"
    },
    {
        "type": "select",
        "id": "show_on_device",
        "label": "Show Section",
        "options": [
            {
                "value": "all",
                "label": "All Devices"
            },
            {
                "value": "mobile",
                "label": "Mobile Only"
            },
            {
                "value": "desktop",
                "label": "Desktop Only"
            }
        ],
        "default": "all"
    },
    {
        "type": "color_background",
        "id": "section_background_color",
        "default": "linear-gradient(319deg, rgba(226, 236, 253, 1) 13%, rgba(234, 253, 246, 1) 85%)",
        "label": "Background Color"
    },
    {
        "type": "number",
        "id": "section_padding_top_bottom",
        "default": 25,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_top_bottom",
        "default": 25,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "section_padding_left_right",
        "default": 25,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_left_right",
        "default": 25,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "header",
        "content": "Container Design",
        "info": "Set the design for your inner container"
    },
    {
        "type": "color_background",
        "id": "container_background_color",
        "label": "Background Color"
    },
    {
        "type": "number",
        "id": "container_max_width",
        "default": 1000,
        "label": "Max Width"
    },
    {
        "type": "number",
        "id": "container_padding_top_bottom",
        "default": 10,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_top_bottom",
        "default": 10,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "container_padding_left_right",
        "default": 10,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_left_right",
        "default": 10,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "number",
        "id": "element_spacing",
        "default": 15,
        "label": "Spacing Between Elements"
    },
    {
        "type": "range",
        "id": "container_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Container",
        "default": 0
    },
    {
        "type": "checkbox",
        "id": "container_shadow",
        "default": false,
        "label": "Subtle Shadow on Container"
    },
    {
        "type": "range",
        "id": "container_border_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Size on Container",
        "default": 0
    },
    {
        "type": "color",
        "id": "container_border_color",
        "default": "#888",
        "label": "Border Color on Container"
    }
,
      {
        "type": "header",
        "content": "Colors",
        "info": "Set the colors for the section"
      },
      {
        "type": "color",
        "id": "feature_text_color",
        "default": "#fff",
        "label": "Accordion Text Color"
      },
      {
        "type": "color",
        "id": "feature_headline_color",
        "default": "#fff",
        "label": "Accordion Headline Color"
      },
      {
        "type": "header",
        "content": "Feature Design",
        "info": "Set the design for the feature section"
      },
      {
        "type": "select",
        "id": "feature_vertical_alignment",
        "label": "Vertical Alignment",
        "options": [
          {
            "value": "flex-start",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Bottom"
          }
        ],
        "default": "center"
      },
      {
        "type": "number",
        "id": "feature_element_spacing",
        "default": 10,
        "label": "Spacing between Elements"
      },
      {
        "type": "select",
        "id": "feature_horizontal_alignment",
        "label": "Horizontal Alignment",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "feature_text_alignment",
        "label": "Text Alignment",
        "default": "center"
      },
      {
        "type": "color_background",
        "id": "cover_background",
        "default": "linear-gradient(164deg, #111 0%, #555 100%)",
        "label": "Cover Background"
      },
      {
        "type": "range",
        "id": "cover_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Cover Opacity",
        "default": 25
      },
      {
        "type": "range",
        "id": "cover_opacity_increase",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Cover Opacity Increase on Hover",
        "default": 25
      },
      {
        "type": "number",
        "id": "border_radius",
        "default": 5,
        "label": "Border Radius"
      },
      {
        "type": "number",
        "id": "gap",
        "default": 10,
        "label": "Grid Gap"
      },
      {
        "type": "number",
        "id": "mobile_gap",
        "default": 25,
        "label": "Mobile Grid Gap"
      },
      {
        "type": "number",
        "id": "height",
        "default": 300,
        "label": "Grid Height"
      },
      {
        "type": "number",
        "id": "mobile_height",
        "default": 300,
        "label": "Mobile Grid Height"
      },
      {
        "type": "range",
        "id": "media_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Media",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "text_shadow",
        "default": true,
        "label": "Subtle Shadow on Text"
      },
      {
        "type": "checkbox",
        "id": "media_shadow",
        "default": true,
        "label": "Subtle Shadow on Media"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Zoom on Hover",
        "default": true
      },
      {
        "type": "header",
        "content": "Button Style",
        "info": "Set the look and feel of the button"
      },
      {
        "type": "color_background",
        "id": "button_background_color",
        "default": "linear-gradient(164deg, #111 0%, #333 100%)",
        "label": "Button Background Color"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "default": "#fff",
        "label": "Button Text Color"
      },
      {
        "type": "number",
        "id": "button_padding_tb",
        "default": 8,
        "label": "Padding Top/Bottom"
      },
      {
        "type": "number",
        "id": "button_padding_lr",
        "default": 25,
        "label": "Padding Left/Right"
      },
      {
        "type": "number",
        "id": "button_border_radius",
        "default": 5,
        "label": "Border Radius"
      },
      {
        "type": "header",
        "content": "Headline",
        "info": "Set text for the headline"
      },
      {
        "type": "text_alignment",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center"
    },
    {
        "type": "text_alignment",
        "id": "mobile_text_alignment",
        "label": "Mobile Text Alignment",
        "default": "center"
    },
      {
        "type": "inline_richtext",
        "id": "headline",
        "label": "Headline",
        "default": "<b>Check out our Products</b>"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text",
        "default": "Shop our extensive range of amazing products."
      },
      {
        "type": "number",
        "id": "headline_spacing",
        "default": 15,
        "label": "Spacing between Headline and Features"
      }
    ],
	"blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "inline_richtext",
           "id": "headline",
           "label": "Headline",
           "default": "<b>Feature Headline</b>"
         },
         {
           "type": "inline_richtext",
           "id": "cta",
           "default": "Shop Now",
           "label": "Call to Action"
         },
         {
           "type": "url",
           "id": "cta_link",
           "label": "Call to Action Link"
         },
         {
           "type": "checkbox",
           "id": "link_block",
           "label": "Link entire element?",
           "default": false
         }
      ]
     }
    ],
	"presets": [
      {
        "name": "🚀SP - Accordion Feature",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}