<div class="{{ section.id }}"style="background-color:{{section.settings.background-color}};">
 <div class="section-{{ section.id }}-padding">
  <div class="reviews">
    <div class="reviews_title">
      <p>
        {{ section.settings.header_before_gradient }}
        <span>{{ section.settings.header_gradient }}</span>
        {{ section.settings.header }}
      </p>
    </div>
  
    <div
      class="parer-wrapper-{{ section.id }}"
      style="position: relative; height: 172px;"
    >
      <div class="parer">
        <div class="reviews_block">
          {%- liquid
            assign block_size = section.blocks.size | divided_by: 2
            assign section_width = block_size | times: 463
            assign animatuion_time = section.settings.animation_time | default: 25
          -%}
          {% comment %} loop twice: {% endcomment %}
          {% for i in (1..section.settings.loop_amount) %}
            {%- for block in section.blocks limit: block_size -%}
              <div class="reviews_item">
                <div class="item_wrap">
                  <div class="item_wrap-icon">
                    <img
                      src="{{ block.settings.review_icon | img_url: '50x' }}"
                      class="item_wrap-icon__icon"
                    >
                    <div class="item_icon-review">
                      {{ block.settings.review_rating }}
                      <img
                        style="width:9px;height:9px;"
                        src="https://cdn.shopify.com/s/files/1/0581/1306/5129/t/1/assets/review-star.svg?v=8681932030933659819"
                        alt=""
                      >
                    </div>
                  </div>
                  <div class="item_wrap-text">
                    <p>{{ block.settings.review_text }}</p>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {% endfor %}
        </div>
        <div class="reviews_block-bottom">
          {% comment %} loop twice: {% endcomment %}
          {% for i in (1..section.settings.loop_amount) %}
            {%- for block in section.blocks offset: block_size -%}
              <div class="reviews_item">
                <div class="item_wrap">
                  <div class="item_wrap-icon">
                    <img
                      class="item_wrap-icon__icon"
                      src="{{ block.settings.review_icon | img_url: '50x' }}"
                    >
                    <div class="item_icon-review">
                      {{ block.settings.review_rating }}
                      <img
                        style="width:9px;height:9px;"
                        src="https://cdn.shopify.com/s/files/1/0581/1306/5129/t/1/assets/review-star.svg?v=8681932030933659819"
                        alt=""
                      >
                    </div>
                  </div>
                  <div class="item_wrap-text">
                    <p>{{ block.settings.review_text }}</p>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
    (function () {
      // set the .parer-wrapper-{{ section.id }} height to the height of the .parer:
      function setHeight() {
        var parer = document.querySelector(
          '.parer-wrapper-{{ section.id }} .parer'
        );
        var parerHeight = parer.getBoundingClientRect().height;
        var parerWrapper = document.querySelector(
          '.parer-wrapper-{{ section.id }}'
        );
        parerWrapper.style.height = parerHeight + 'px';
      }
      // DOMContentLoaded:
      document.addEventListener('DOMContentLoaded', setHeight);
      window.addEventListener('resize', setHeight);
      document.addEventListener('shopify:section:load', setHeight);
    })();

    
  </script>

  <style>

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    overflow:hidden;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    
    .reviews {
      overflow: visible;
      overflow-x: hidden; /* Add this */
      padding: 0;
      display: block;
      margin: 0px auto;
    }
    .reviews * {
      font-size: var(--font-size);
    }
    @media (max-width: 767px) {
      .reviews * {
        font-size: var(--mobile-font-size, calc(var(--font-size) * 0.85));
      }
    }
    .reviews_title {
      text-align: center;
    }
    .reviews_title p {
      line-height: 1.3;
      font-weight:600;
      margin-bottom: 50px;
      margin-top: 0px;
      padding: 0px 3rem;
      --font-size: {{ section.settings.header_font_size }}px;
      color: {{ section.settings.header_color }};
    }
    .reviews_title span {
      background: linear-gradient(to right, {{section.settings.gradient_color_1}} 0%,{{section.settings.gradient_color_2}} 50%, {{section.settings.gradient_color_3}});
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .parer {
      position: absolute;
      top: 0;
      left: 0;
      animation: CarouselSlider 45s linear infinite;
    }
    .reviews_block {

      display: flex;
      width: {{section_width}}px;
      transform:translateX(50px);
    }
    .reviews_block-bottom {
      transform:translateX(-180px);
      display: flex;
      width: {{section_width}}px;
    }
    .reviews_item {
      min-width: 419px;
      padding: 15px 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding: 0 59px 0 22px;
      margin-left: 22px;
      margin-right: 22px;
      margin-bottom: 30px;
      box-shadow: 4px 4px 20px {{section.settings.blur_color}};
      border-radius: 100px;
    }
    .item_wrap {
      margin: 10px 0px;
      display: flex;
      align-items: center;
    }
    .item_wrap-icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item_wrap-icon img {
      border-radius: 50%;
      width: 45px;
      height: 45px; /* Make sure the height and width are the same */
      max-width:unset;
    }

    .item_wrap-icon__icon {
      max-width:unset;
      object-fit: cover;
    }
    .item_icon-review {
      --font-size: 8px;
      --mobile-font-size: 8px;
      color: #ffffff;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, {{section.settings.gradient_color_1}} 0%,{{section.settings.gradient_color_2}} 50%, {{section.settings.gradient_color_3}});
    }
    .item_wrap-text {
      line-height: 1.5;
      padding-left: 18px;
      --font-size: {{section.settings.review_font_size}}px;
      color: {{section.settings.review_font_color}};
    }

    .item_wrap-text p {
      color: {{section.settings.review_font_color}};
      margin:0;
      padding:0;
    }

    @media (max-width: 767px) {
      .reviews_title p {
        --mobile-font-size: {{ section.settings.header_mob_font_size }}px;
      }

    }

    @keyframes CarouselSlider {
      0%
      {
        transform:translateX(0)
      }
      to
      {
        transform:translateX(-100%)
      }
    }
  </style>

  {% schema %}
  {
    "name": "SS - Glow Testimonial",
    "tag": "section",
    "class": "reviews-section",
    "settings": [
      {
        "type": "range",
        "id": "animation_time",
        "min": 1,
        "max": 40,
        "step": 0.5,
        "unit": "s",
        "label": "Animation time",
        "default": 30
      },
      {
        "type": "range",
        "id": "loop_amount",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Loop amount",
        "default": 2
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "header_before_gradient",
        "label": "Header Before Gradient part",
        "default": "Our customers "
      },
      {
        "type": "text",
        "id": "header_gradient",
        "label": "Gradient header part",
        "default": "love"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Without gradient header",
        "default": "the product"
      },
      {
        "type": "color",
        "id": "header_color",
        "label": "Header Font color",
        "default": "#0B1128"
      },
      {
        "type": "range",
        "id": "header_font_size",
        "min": 12,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Header Font Size",
        "default": 42
      },
      {
        "type": "range",
        "id": "header_mob_font_size",
        "min": 12,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Header Mobile Font Size",
        "default": 28
      },
      {
        "type": "header",
        "content": "Review Item Font settings"
      },
      {
        "type": "range",
        "id": "review_font_size",
        "min": 10,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Review Font Size",
        "default": 16
      },
      {
        "type": "color",
        "id": "review_font_color",
        "label": "Review Font color",
        "default": "#0B1128"
      },
      {
        "type": "header",
        "content": "Gradient settings"
      },
      {
        "type": "color",
        "id": "gradient_color_1",
        "label": "Gradient color 1",
        "default": "#4222DE"
      },
      {
        "type": "color",
        "id": "gradient_color_2",
        "label": "Gradient color 2",
        "default": "#659BFF"
      },
      {
        "type": "color",
        "id": "gradient_color_3",
        "label": "Gradient color 3",
        "default": "#7FF6E8"
      },
      {
        "type": "header",
        "content": "Review Item Blur color"
      },
      {
        "type": "color",
        "id": "blur_color",
        "label": "Review Item  Blur color",
        "default": "#B8B1DC"
      },
      {
          "type": "header",
          "content": "Background color"
      },
	  {
		  "type": "color",
		  "label": "Section background color",
		  "id": "background-color",
		  "default": "#ffffff"
	  },
      {
          "type": "header",
          "content": "Section padding"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding bottom",
          "default": 36
        }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Review items",
        "settings": [
          {
            "type": "image_picker",
            "id": "review_icon",
            "label": "Review author photo"
          },
          {
            "type": "text",
            "id": "review_text",
            "label": "Review text",
            "default": "Add awesome customer testimonial right here"
          },
          {
            "type": "number",
            "id": "review_rating",
            "label": "Review rating",
            "default": 5
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Glow Testimonial",
        "blocks": [
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          },
          {
            "type": "Image"
          }
        ]
      }
    ]
  }
  {% endschema %}
</div>